<div class="container">
    <h2 class="text-center"><strong id="underline-bottom">About White Riders</strong></h2>
    <div class="container" id="main-text">
        <p><span>We are group of three people addicted to snowboard, based in Sofia, Bulgaria. We started in 2016 with few products.</span></p>
        <h3>White Riders Mission:</h3>
        <h4 id="quot">“To provide the world's best snowboard products to the most snowboard addicted people.”</h4>
        <p>If you are already a customer, we sincerely thank you for your support. You enable us to do what we do and we are most
            appreciative.</p>
        <p>If you’re new to White Riders, please have a look around the site. Watch some teasers and read our product
            reviews. Hopefully you’ll find something to improve your riding!</p>
        <p>Check out our top products: <a title="White Riders Top Products" href="http://whiteriders.com/topOffers">White Riders Top Products</a></p>
        <h3>Get in touch</h3>
        <p>We would love to hear your feedback on any of our products or our business model. Please email us at <a title="Get in touch with White Riders"
                href="mailto:info@whiteriders.com">info@WhiteRiders.com</a></p>
        <p>We are dedicated to you! Thanks for your support.</p>
        <p><b>The White Riders team.</b></p>
        <p> </p>
    </div>
</div>