<div class="container" *ngIf="singleOffer">
  <div id="main_area">
    <!-- Slider -->
    <div class="row">
      <!--/Slider-->
      <div class="col-sm-6" id="slider-box">
        <div class="col-xs-12" id="slider">
          <!-- Top part of the slider -->
          <div class="row">
            <div class="col-sm-12" id="carousel-bounding-box">
              <div class="carousel slide" id="myCarousel">
                <!-- Carousel items -->
                <div class="carousel-inner">
                  <div class="active item">
                    <img [src]="imgSrc" height="500">
                  </div>
                </div>
                <!-- Carousel nav -->
                <a (click)="onPrev($event)" class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a (click)="onNext($event)" class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h1 id="offer-name">{{singleOffer.name | initCapLetter}}</h1>
      <p id="stars"> &#9733; &#9733; &#9733; &#9733; &#9733;
        <a onclick="window.scrollTo(0, 800);" >10 customer reviews</a><span id="separator"> | </span>
<a onclick="window.scrollTo(0, 1800);" >3 answered questions</a>
</p>
<hr>
<div id="price-btns">
  <h5>Price: <span id="price-color">{{singleOffer.price | currency:'USD':true:'1.2-2'}}</span></h5>
          <h5 *ngIf="singleOffer.inStock" class="green-text">In stock</h5>
          <p *ngIf="singleOffer.freeDelivery"><strong>FREE delivery</strong></p>
          <p>sold by <a href="www.amazon.com" class="sold-by">{{singleOffer.soldBy}}</a></p>
  <a href="" class="btn btn-info btn-default" role="button"><span class="glyphicon glyphicon-shopping-cart"> Add</span></a>
  <a href="" class="btn btn-info btn-danger" role="button">Buy now</a>
</div>
<hr>
<!--/Slider-->
<!--thumbs-->
<div class="col-sm-12" id="slider-thumbs">
  <!-- Bottom switcher of slider -->
  <ul class="hide-bullets">
    <li class="col-sm-2" *ngFor="let picture of allpictures; let i = index;">
      <a class="thumbnail" id="carousel-selector-{{i}}">
        <img (click)="onClick($event)" src="{{picture}}" alt="{{singleOffer.name |initCapLetter}}" id="{{i}}">
      </a>
    </li>
  </ul>
</div>
<!--thumbs-->
<div id="bullet-description">
  <!--<strong><h4> Product Details </h4></strong>-->
  <ul>
    <li *ngFor="let bulletText of description">{{bulletText}}</li>
  </ul>
</div>
</div>
<hr>
<div id="customer-reviews">
  <div *ngIf="allCustomerReviews && allCustomerReviews.length > 0">
    <h2 id="reviews">Customer reviews</h2>
    <br>
    <div class="panel panel-default" *ngFor="let review of allCustomerReviews">
      <div class="panel-heading">
        <p id="stars"> &#9733; &#9733; &#9733; &#9733; &#9734; <strong id="review-text">{{review.title}}</strong></p>
        <p id="heading-review">By <a href="">{{review.user}}</a> {{review.date | date: 'yMMMMd' }}</p>
      </div>
      <div class="panel-body">
        <p>{{review.comment}}</p>
      </div>
    </div>
  </div>

</div>
<div id="questions-answers">
  <hr>
  <h1 id="answers"><strong>Customer Questions & Answers</strong></h1>
  <br>
  <p><strong><span class="label label-primary">Question:</span></strong> my son is 6 yrs old and about 50 lbs, will 95 cm work
    well or too big?</p>
  <p><strong><span id="answer" class="label label-success">Answer:</span></strong> He will be fine. This is made to pretty much
    go straight. Hard to ride an edge on it </p>
  <br>
  <p><strong><span class="label label-primary">Question:</span></strong> Do the straps adjust</p>
  <p><strong><span class="label label-success">Answer:</span></strong> Yes, there is a ratcheting buckle that allows adjustment
    for correct fit. </p>
  <br>
  <p><strong><span class="label label-primary">Question:</span></strong> How do I know what size to buy?? It says 95cm, 95-cm,
    120cm, 120-cm, what do the dashes (-) mean?. It will be for a 10 year old that weighs 70-75lbs.</p>
  <p><strong><span class="label label-success">Answer:</span></strong> That dash doesn't mean anything. It's either 95 or 120
    cm. The 120 cm is better for your son, but frankly, my son used it once and haven't touched it since. I should have gotten
    him a real (used) snowboard. </p>
  <br>
  <p><strong><span class="label label-primary">Question:</span></strong> Is there a max weight limit?</p>
  <p><strong><span class="label label-success">Answer:</span></strong> Thank you for your inquiry. These are beginner snowboards
    for kids. The 120cm board should work fine for kids in the 9-12 range, and up to around 100 lbs. </p>
  <br>
</div>
</div>
</div>