/*.login-form {
    background: url("http://2.bp.blogspot.com/-br0WOydBAkU/UkywTNJ4dWI/AAAAAAAAA2A/Qu7FyPTS1I8/s1600/winter-snowboard-pictures-snow-wallpaper-wallpapers-wallwuzz-hd-wallpaper-14104.jpg") no-repeat center center fixed;;
    background-size: cover;
    min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
	
    position: fixed;
    top:250px;
    left: 0;*/


    /*background: url(images/bg.jpg)  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
/*}*/

.form {
    background: url(../../assets/images/mountain.jpg);
    background-size: cover;
    /*background-color: rgba(255, 255, 255, 0.2);*/
    /*background-color: lightgrey;*/
    margin-top: -50px;
    padding-top: 10%;
    padding-bottom: 10%;
    /*margin-top: 30px;*/
    
}

.form .col-md-4 {
    border: 3px solid white;
    opacity: 0.7;
    /*background: #2c3e50;*/
    /*border-radius: 10px;*/
    background-color: rgba(255, 255, 255, 1);
    /*background-color: transparent;*/
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0px 5px 15px #000;

}

h2 {
    margin: 0;
    padding: 0;
    font-size: 200%;
    color: blue;
    text-align: left;
    text-transform: uppercase;
    /*text-shadow: 0px 5px 15px #000;*/
}

.header {
    color: white;
    /*text-align: center;*/
    margin-bottom: 50px;
    border-left: 5px solid blue;
    margin-left: -20px;
    padding-left: 25px;
}

.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.right-addon .glyphicon { right: 0px; }

.field {
    border: none;
    opacity: 1;
    border-bottom: 2px solid blue;
    /*border-radius: 15px 45px 45px 15px;*/
    margin-bottom: 20px;
    border-radius: 0px;
}

.login-btn {
    padding-left: 10%;
    padding-right: 10%;
    opacity: 1;
    white-space: normal;
    background: blue;
    border: 3px solid blue;
    border-radius: 0px;
    text-transform: uppercase;
    color: white;
    margin-left: 35%;
    margin-top: 10%;
}

.invalidUserAndPass {
    color: red;
    font-style: italic;
}

.regBtn {
    text-transform: uppercase;
    margin-left: 30%;
    color: white;
    background-color: blue;
    border-radius: 0;
}

.cancel-link {
    text-decoration: none;
    text-transform: uppercase;
    color: blue;
}

label {
    color: black;
    text-transform: uppercase;
}


/*invalidUserAndPass-glyph {
    background-color: red;
}*/
/*.btn {
    
}

@media (max-width: 479px) 
{
    .loginReg-btn-xs {
        white-space: normal;
    }
}

@media (min-width: 480px) and (max-width: 767px) 
{
    .loginReg-btn-sm {
        white-space: normal;
    }
}

@media (min-width: 768px) and (max-width: 991px) 
{
    .loginReg-btn-md {
        white-space: normal;
    }
}*/

