<div class="container">
	<h2 class="text-center"><strong id="underline-bottom">Relax Zone</strong></h2>
				<div class="col-xs-12 col-sm-offset-2 col-sm-8">
					<div class="thumbnail">
						<div class='myIframe' >
						<iframe id="existing-iframe-example"
      					    width="730" height="360"
        				    src="https://www.youtube.com/embed/tTHfcJBfMrA"
       					    frameborder="0">
						</iframe>
						</div>
						<div class="caption" id="caption-box">
							<h3 class="text-center" id="article-heading"><strong>How To 360 With Grabs</strong></h3>
							<p class="text-center">This is a FREE Tramp Training Board Tutorial on how to style out your 360's with grabs. Practice them on a trampoline so you can hit the mountain knowing you have them dialed in!</p>
						</div>
					</div>
					<div class="thumbnail">
						<div class='myIframe' >
						<iframe id="existing-iframe-example"
      					    width="730" height="360"
        				    src="https://www.youtube.com/embed/A_3_s8uK3_0"
       					    frameborder="0">
						</iframe>
						</div>
						<div class="caption" id="caption-box">
							<h3 class="text-center" id="article-heading"><strong>How To Turn On A Snowboard</strong></h3>
							<p class="text-center">If you want to progress on your snowboard, turning correctly is one of the most essential skills to learn - This tutorial breaks down the important body movements of how to turn on a snowboard.</p>
						</div>
					</div>
				</div>
</div>